body{
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: #f0efef!important;
}

#header{
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0,0,0,0.3)), url(back1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.display-box{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    

}
.display-box img{
    border-radius: 20%;
    width: 280px;
    border: 2px solid green;
}
.display-box h1{
    color: rgb(0, 225, 255);
    font-weight: bold;
    margin:10px;
}
.display-box p{
    color: rgb(0, 225, 255)
}
    
.scroll-btn{
    bottom: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid yellowgreen ;
    padding: 10px 10px 20px;
    border-radius: 30px;
}
.scroll-bar span {
    border: 2px solid burlywood;
    font-size: 10px;
    border-radius: 30px;
}
.scroll-bar{
    animation: mover 1s infinite alternate;
}
@keyframes mover{
    0%{transform: translateY(0);}
    100%{transform: translateY(10px);}
}

.profile-img{
    height: 400px;

}



/* This section is for information #Information */
.nav-bar{
    top:  0;
    position: fixed;
    width: 100%;
    z-index: 2;
}
.navbar{
    background-color: rgb(141, 69, 69);
}
.navbar-brand img{
    height: 50px;
    background-attachment: fixed;
}
.nav-bar .fa-bars{
    font-size: 35px;
    color: chartreuse;
}
.navbar-toggler{
    outline: none !important;
}
.navbar-nav{
    float: right;
    text-align: right
}
.nav-link{
    color: chocolate;
}
.list-group{
    float: right;
    color: black;
}
.dropdown{
    float: right;
    color: black
}


/* Page Content */

#page-content {
    margin: 40px auto;
}
.customer-logos img {
    border: 2px solid slateblue;
    border-radius: 30%;
    width: 280px;
    width: 180px ;
    
}
